.car_box {
    border-style: solid;
    display:flex ; 
    flex-direction: row;
    width: 1000px;
    background-color: rgb(209, 182, 28);
}
body {
    background-color: rgb(228, 228, 22);
    display: flex;
    flex-direction: row;
}

.box2{width: 4000px;
}
